@charset "utf-8";
/*********************************************************************************************************
 * MAIN
*/

body {
    font-family: 'Mako',Georgia, Verdana, Helvetica, sans-serif;
    font-size:16px;
    color:#111111;
    background: url(../img/ricepaper2.png) #EBE6DD;
}

h1 {
    font-size: 32px;
    color: #666666;
    text-shadow: 1px 1px 0px #FFFFFF;
    margin: 20px 0 20px 0;    	
}
h2 {
	line-height: 50px;
    font-size: 24px;
    color: #666666;
    text-shadow: 1px 1px 0px #FFFFFF;
    margin-bottom: 10px;
	font-family: 'Bad Script',Georgia, Verdana, Helvetica, sans-serif;
}
h3 {
    font-size: 18px;
    color: #666666;
    text-shadow: 1px 1px 0px #FFFFFF;
    margin-bottom: 10px;
}
img {
    background-color: #EBE6DD;
    border: 1px solid #A0A0A0;
    padding: 4px;
}
img:hover{
background-color:#A00000;
}
#mainheader{
	border-bottom: 1px solid #B8B6AF;
	/* Para WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), to(rgba(0,0,0,0.25)));
	/* Para Mozilla */
	background: -moz-linear-gradient(top, rgba(255,255,255,.15), rgba(0,0,0,0.25));
}
a {
    color: #A00000;
    text-shadow: 1px 1px 0px #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #FF6600;
    text-decoration: none;
}
.container{
border-top: 1px solid rgba(255, 255, 255, 0.6);
}
/****************************************************************************************
 * CONTENT
*/

section a {    
    color: #CC0000;
    text-decoration: none;
}
section a:hover{
    color: #770000;
}
section dl {
		margin-bottom: 28px;
}
section dl dt {
		font-size: 24px;
		padding: 10px 0 10px 0;
}
section dl dd{
	font-size: 16px;
	 font-family: 'Mako',Georgia, Verdana, Helvetica, sans-serif;
}
textarea {
		width: 99%;
		height: 400px;
}
/****************************************************************************************
 * FOOTER
*/
footer {
    color: #333;
    text-align: right;
	margin:40px!important;
}